[submodule "notebooks/covid-19-data"]
	path = notebooks/covid-19-data
	url = https://github.com/mike-matera/covid-19-data.git
[submodule "notebooks/step_raises"]
	path = notebooks/step_raises
	url = git@github.com:mike-matera/step_raises.git
